.Logs {
  padding: 10px;

  table {
    min-width: 100%;
    border-collapse: collapse;
    td {
      padding: 5px;
      font-family: "Courier", monospace;
      font-size: 12px;
      vertical-align: top;
      border: 1px solid #aaa;
    }
    th {
      font-size: 12px;
      vertical-align: top;
      border: 1px solid #aaa;
    }
  }

  &__Danger {
    td {
      background: #ffd1d1;
    }
  }

  &__LoadMore {
    font-family: Tahoma, geneva, sans-serif;
    background: #d1fff5;
    padding: 10px;
    font-weight: normal;
    font-size: 14px;

    button {
      font-weight: normal;
      font-size: 14px;
      border: none;
      background: none;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__Loading {
    padding: 20px;
  }
}
